<!-- Header -->
<header id="header">
    <div class="inner">

        <!-- Logo -->
        <h1><%= link_to "SejaLivro", root_path %></h1>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li>
                    <a href="#">Como funciona</a>
                    <ul>
                        <div class="row">
                            <div class="4u 12u(mobile)">
                                <section>
                                    <span>Cadastre-se:</span> </br>
                                    Através de um simples</br>
                                    formulário, você pode  </br>
                                    identificar-se em nosso </br>
                                    sistema.

                                </section>
                            </div>
                            <div class="4u 12u(mobile)">
                                <section>
                                    <span>Escolha seu Pacote:</span><br>
                                    Temos diversas opções de </br>
                                    pacotes para adequarem-se </br>
                                    aos seus hábitos de leitura. </br>
                                    Simule um pacotee veja como </br>
                                    funciona.
                                </section>
                            </div>
                            <div class="4u 12u(mobile)">
                                <section>
                                    <span> Pague:</span><br>
                                    Aceitamos diversas formas </br>
                                    de pagamento. Tudo para  </br>
                                    que você possa aproveitar  </br>
                                    as comodidades do </br>
                                    SejaLivro!
                                </section>
                            </div>
                            <li>
                                <a href="#simular" class="button icon fa-arrow-circle-right" style="align: center;">Simular Assinatura</a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li>
                    <a href="#simular">Simule seu Pacote</a>
                </li>
                <li>
                    <a href="#social">#SejaLivro</a>
                </li>
                <li>
                  <%= link_to "Cadastrar-se", "/cadastro" %>
                </li>
                <li>
                  <%= link_to "Já é assinante?", new_user_session_path %>
                </li>
            </ul>
        </nav>

    </div>
</header>