		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<!-- Header -->
            <% if user_signed_in? %>
                <%= render 'main/login_top_menu' %>
            <% else %>
                <%= render 'main/logout_top_menu' %>
            <% end %>
					</div>
				</div>
				
			<!-- Main Wrapper -->
				<div id="main-wrapper">
					<div class="wrapper style3">
						<div class="inner">
							<div class="container">
							<section class="container box feature1">
									<div class="row" id="adminIndex">
										<div class="12u">
											<header>
												<h2>Gerenciamento</h2>
											</header>
											<p><a href="../books/book_list.html.erb" class="button">Gerenciar Livros</a> </p>
											<p><a href="../categories/category_list.html.erb" class="button">Gerenciar Categorias</a> </p>
											<p><a href="../bookstores/bookstore_list.html.erb" class="button">Gerenciar Livrarias</a> </p>
										</div>
									</div>
								</section>								
							</div>
						</div>
					</div>
				</div>

			<!-- Footer Wrapper -->
      <%= render 'main/footer' %>

		</div>