

<html>
	<head>
		<title>SejaLivro - Assinatura Literária</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
		</script>
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div class="container">
						<!-- Header -->
							<% if user_signed_in? %>
			                <%= render 'main/login_top_menu' %>
			            <% else %>
			                <%= render 'main/logout_top_menu' %>
			            <% end %>
					</div>
				</div>
				<div id="main-wrapper">
					<div class="wrapper style2">
						<div class="inner">

							<!-- Feature 1 -->
								<section class="container box feature1">
									<div class="row" id="vantagens">
										<div class="4u 12u(mobile)"></div>
										<div class="4u 12u(mobile)">
											<section>
												<h1>Editando livraria</h1>
												<%= render 'form', bookstore: @bookstore %>
											</section>
										</div>
										<div class="4u 12u(mobile)"></div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>


	<%= render 'main/footer' %>
	